@model PagedList.IPagedList<JudoTournamentBase.Models.Competitor>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Localization.Competitors</h2>

<p>
    @Html.ActionLink(Resources.Localization.Create + " " + Resources.Localization.CompetitorCreate, "Create")
</p>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "filterform" }))
{

    <div class="form-horizontal">

        <div class="form-group">
            <label class="control-label col-md-2" style="text-align:left;width:10%">@Resources.Localization.Category:</label>
            <div class="col-md-10">
                @Html.DropDownList("CategoryId", null, Resources.Localization.ShowAll, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" style="text-align:left;width:10%">@Resources.Localization.Club:</label>
            <div class="col-md-10">
                @Html.DropDownList("ClubId", null, Resources.Localization.ShowAll, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
    </div>
}
<div style="display:inline-flex">
    <input type="submit" style="margin-right:5%" form="filterform" value="@Resources.Localization.Search" />
    @using (Html.BeginForm(null, null, FormMethod.Post, null))
    {
        <input type="hidden" name="categoryId" value="" />
        <input type="hidden" name="clubId" value="" />
        <input type="hidden" name="currentCategory" value="" />
        <input type="hidden" name="currentClub" value="" />
        <input type="hidden" name="page" value="0" />
        <input type="submit" value="@Resources.Localization.ShowAll" />

    }

    @using (Html.BeginForm("Export", "Competitors", new { categoryId = ViewBag.Category, clubId = ViewBag.Club }))
    {
        <input type="submit" style="margin-left:10%" value="@Resources.Localization.ExportToExcel" />
    }
</div>


<br />
<br />

<table class="table">
    <tr>


        <th>
            @Resources.Localization.FirstName
        </th>
        <th>
            @Resources.Localization.LastName
        </th>
        <th>
            @Html.ActionLink(Resources.Localization.Category, "Index", new { sortOrder = ViewBag.CategorySort, categoryId = ViewBag.Category, clubId = ViewBag.Club, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink(Resources.Localization.Club, "Index", new { sortOrder = ViewBag.ClubSort, categoryId = ViewBag.Category, clubId = ViewBag.Club, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Resources.Localization.DoubleStart
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>


            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Club.Name)
            </td>
            <td>
                @(item.DoubleStart ? Resources.Localization.Yes : Resources.Localization.No)
            </td>
            <td>
                @Html.ActionLink(Resources.Localization.Edit, "Edit", new { id = item.Id }) |
                @Html.ActionLink(Resources.Localization.Details, "Details", new { id = item.Id }) |
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink(Resources.Localization.Delete, "Delete", new { id = item.Id })
                }
            </td>
        </tr>
    }

</table>
<br />
@Resources.Localization.Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) @Resources.Localization.Of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentCategory = ViewBag.CurrentCategory, currentClub = ViewBag.CurrentClub }))
