@model IEnumerable<JudoTournamentBase.Models.Competitor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Localization.Competitors</h2>

<p>
    @Html.ActionLink(Resources.Localization.Create + " " + Resources.Localization.CompetitorCreate, "Create")
</p>

@using (Html.BeginForm())
{
        <div style="display:flex">
            <p style="position:relative;padding-top:7px"> @Resources.Localization.Category:</p>@Html.DropDownList("CategoryId", null, Resources.Localization.ShowAll, htmlAttributes: new { @class = "form-control", @style = "margin-left:10px" })
        </div>
        <br />
        <div style="display:flex">
            <p style="position:relative;padding-top:7px"> @Resources.Localization.Club:</p>@Html.DropDownList("ClubId", null, Resources.Localization.ShowAll, htmlAttributes: new { @class = "form-control", @style = "margin-left:10px" })
        </div>
        <br />
        <input type="submit" value="@Resources.Localization.Search" />
}
<br />
@using (Html.BeginForm("Export", "Competitors", new { TypeFilter = ViewBag.Category, CowId = ViewBag.Club }))
{
    <input type="submit" value="@Resources.Localization.ExportToExcel" />
}
<br />

<table class="table">
    <tr>


        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.ActionLink(Resources.Localization.Category, "Index", new { sortOrder = ViewBag.CategorySort, categoryId = ViewBag.Category, clubId = ViewBag.Club })
        </th>
        <th>
            @Html.ActionLink(Resources.Localization.Club, "Index", new { sortOrder = ViewBag.ClubSort, categoryId = ViewBag.Category, clubId = ViewBag.Club })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>


            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Club.Name)
            </td>
            <td>
                @Html.ActionLink(Resources.Localization.Edit, "Edit", new { id = item.Id }) |
                @Html.ActionLink(Resources.Localization.Details, "Details", new { id = item.Id }) |
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink(Resources.Localization.Delete, "Delete", new { id = item.Id })
                }
            </td>
        </tr>
    }

</table>
